<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node pkg="first_controller" type="pure_pursuit.py" name="pure_pursuit">
	<param name="steer_control_topic"            value="lli/ctrl_request"/>
	<param name="car_pose_topic"                 value="/SVEA2/pose"/>
	<param name="path_topic"                     value="/SVEA2/path"/>
	<param name="danger_topic"                   value="/danger"/>
	<param name="Stop_pure_pursuit_srv"          value="/Stop_pure_pursuit"/>
	<param name="Start_pure_pursuit_srv"         value="/Start_pure_pursuit"/>
	</node>
</launch>


